<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/floss.jpg"> 
      <ion-card-title>Treat flossing as important as brushing</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Many who brush regularly neglect to floss. 
      Flossing is not just for getting little pieces of food or broccoli that may be getting stuck in between your teeth, 
      as Jonathan Schwartz, DDS. points out. 
      “It’s really a way to stimulate the gums, reduce plaque, and help lower inflammation in the area.”

      Flossing once a day is usually enough to reap these benefits.
    
    </ion-card-content>
  </ion-card>
  <br>
  <ion-button [routerLink]="['/tabs']" expand="block" shape="round">
  Back
 </ion-button>
  

</ion-content>
