<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/dent.jpg"> 
      <ion-card-title>See your dentist at least twice a year</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Your own everyday habits are crucial to your overall oral health. 
      Still, even the most dutiful brushers and flossers need to see a dentist regularly. 
      At minimum, you should see your dentist for cleanings and checkups twice a year. 
      Not only can a dentist remove calculus and look for cavities, but they will also 
      be able to spot potential issues and offer treatment solutions.

      Some dental insurance companies even cover more frequent dental checkups. 
      If this is the case for you, take advantage of it. 
      Doing so is especially helpful if you have a history of dental issues, such as gingivitis or frequent cavities.
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <ion-button [routerLink]="['/tabs']" expand="block" shape="round">
  Back
 </ion-button>
  

</ion-content>
