<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/2big.jpg"> 
      <ion-card-title>Drink more water</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Water continues to be the best beverage for your overall health — including oral health. 
      Also, as a rule of thumb, Schwartz recommends drinking water after every meal. 
      This can help wash out some of the negative effects of sticky and acidic foods and beverages in between brushes.
    
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <ion-button [routerLink]="['/tabs']" expand="block" shape="round">
  Back
 </ion-button>
  

</ion-content>
