<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Dental Health Tips App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/about.jpg"> 
      <ion-card-title class="ion-text-center">About App</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      What is Dental Health Tips App?
    </ion-card-header>
    <ion-card-content>
      The Dental Health Tips App is a simple app designed to inform the users how important the dental care is.
      Practicing good dental health is important to maintaining a healthy mouth, teeth and gums. 
      It will also help your appearance and quality of life.
      You can help prevent or minimize many oral health problems by regular preventive steps (brushing, flossing
       and so on) and regular visits to dental health professionals.
    </ion-card-content>
  </ion-card>
  <br>
  <br>
 
  
 <app-explore-container name="Tab 2 page"></app-explore-container>

</ion-content>
