<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Dental Health Tips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content"> 

  <br>
  <ion-card>
    <ion-item [routerLink]="['/one']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>Don’t go to bed without<br> brushing your teeth</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item [routerLink]="['/two']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>Brush properly</ion-label>
    </ion-item>
  </ion-card>
<br>
  <ion-card>
    <ion-item [routerLink]="['/three']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>Don’t neglect your tongue</ion-label>
    </ion-item>
  </ion-card>
<br>
  <ion-card>
    <ion-item [routerLink]="['/four']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>Use a fluoride toothpaste</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item [routerLink]="['/five']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>Treat flossing as important <br>as brushing</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item [routerLink]="['/six']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>Don’t let flossing difficulties <br>stop you</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item [routerLink]="['/seven']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>Consider mouthwash</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item [routerLink]="['/eight']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>Drink more water</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item [routerLink]="['/nine']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>Eat crunchy fruits and <br>vegetables</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item  [routerLink]="['/ten']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>Limit sugary and acidic foods</ion-label>
    </ion-item>
  </ion-card>
  <br>
  <ion-card>
    <ion-item [routerLink]="['/eleven']" class="ion-card" color="primary">
      <ion-icon name="albums-outline" slot="start"></ion-icon>
      <ion-label>See your dentist at least <br>twice a year</ion-label>
    </ion-item>
  </ion-card>
  <br>

  <app-explore-container name="Tab 1 page"></app-explore-container>

</ion-content>

