.ion-card{
    --ion-color-primary: #5891f5;
    --ion-color-primary-rgb: 56,128,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0a4;
    --ion-color-primary-tint: #4c8eff79;
}
.ion-content {
    --background: #34B0D2 url('../../assets/cfbg2.jpg') no-repeat center top fixed;
    background-size: cover;      
  }