<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Edmar F. Fallarcuna</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Email: fallarcunaedmar@gmail.com
      Contact Number: 09565364410
    </ion-card-content>
  </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>John Raymond D. Levita</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Email: levitaraymond@gmail.com
        Contact Number: 09876543456
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Julius Bryan E. Manalo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Email: jbmanalo@gmail.com
        Contact Number: 09648564234
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mico L. Pagsinuhin</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Email: pagsinuhinmico@gmail.com
        Contact Number: 093592843658
      </ion-card-content>
    </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Edd Vincent A. Peñaflorida</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Email: eddpeñaflorida@gmail.com
      Contact Number: 09593458326
    </ion-card-content>
  </ion-card>
 
 <app-explore-container name="Tab 3 page"></app-explore-container>

</ion-content>
