<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/tpaste.png"> 
      <ion-card-title>Use a fluoride toothpaste</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      When it comes to toothpaste, there are more important elements to look for than whitening power and flavors. 
      No matter which version you choose, make sure it contains fluoride.

      While fluoride has come under scrutiny by those worried about how it impacts other areas of health, 
      this substance remains a mainstay in oral health. 
      This is because fluoride is a leading defense against tooth decay.
       It works by fighting germs that can lead to decay, as well as providing a protective barrier for your teeth.
    
    </ion-card-content>
  </ion-card>
  <br>
  <ion-button [routerLink]="['/tabs']" expand="block" shape="round">
  Back
 </ion-button>
  

</ion-content>
