<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/happy.jpg"> 
      <ion-card-title>Don’t let flossing difficulties stop you</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Flossing can be difficult, especially for young children and older adults with arthritis.
       Rather than give up, look for tools that can help you floss your teeth. 
       Ready-to-use dental flossers from the drugstore can make a difference.
    
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <ion-button [routerLink]="['/tabs']" expand="block" shape="round">
  Back
 </ion-button>
  

</ion-content>
