<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/tang.jpg"> 
      <ion-card-title>Don’t neglect your tongue</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Plaque can also build up on your tongue. Not only can this lead to bad mouth odor, but it can lead to other oral health problems.
       Gently brush your tongue every time you brush your teeth.
    
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <ion-button [routerLink]="['/tabs']" expand="block" shape="round">
  Back
 </ion-button>
  

</ion-content>
