<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/veg.png"> 
      <ion-card-title>Eat crunchy fruits and vegetables</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Ready-to-eat foods are convenient, but perhaps not so much when it comes to your teeth. Eating fresh, crunchy produce not only contains more healthy fiber, 
      but it’s also the best choice for your teeth. “I tell parents to get their kids on harder-to-eat and chew foods at a younger age,” says Schwartz.
       “So try to avoid the overly mushy processed stuff, stop cutting things into tiny pieces, and get those jaws working!”
    
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <ion-button [routerLink]="['/tabs']" expand="block" shape="round">
  Back
 </ion-button>
  

</ion-content>
