<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/brush.jpg"> 
      <ion-card-title>Brush properly</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The way you brush is equally important — in fact, doing a poor job of brushing your teeth is almost as bad as not brushing at all. 
      Take your time, moving the toothbrush in gentle, circular motions to remove plaque.
       Unremoved plaque can harden, leading to calculus buildup and gingivitis (early gum disease).
    
    </ion-card-content>
  </ion-card>
  <br>
  <br>
 <ion-button [routerLink]="['/tabs']" expand="block" shape="round">
  Back
 </ion-button>
  

</ion-content>
