<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/sugar.jpg"> 
      <ion-card-title>Limit sugary and acidic foods</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Ultimately, sugar converts into acid in the mouth, which can then erode the enamel of your teeth. 
      These acids are what lead to cavities. Acidic fruits, teas, and coffee can also wear down tooth enamel. 
      While you don’t necessarily have to avoid such foods altogether, it doesn’t hurt to be mindful.
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <ion-button [routerLink]="['/tabs']" expand="block" shape="round">
  Back
 </ion-button>
  

</ion-content>
