<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dental Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <br>
  <br>
  <ion-card>
    <ion-card-header>
      <img src="assets/sleep.jpg"> 
      <ion-card-title>Don’t go to bed without brushing your teeth</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      It’s no secret that the general recommendation is to brush at least twice a day. Still, 
      many of us continue to neglect brushing our teeth at night. But brushing before bed gets rid of the germs 
      and plaque that accumulate throughout the day.
    
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <br>
  <ion-button [routerLink]="['/tabs']" expand="block" shape="round">
  Back
 </ion-button>
  

</ion-content>
